<h3>
  <%= @photo.name %>
</h3>

<img></img>

<caption>
  <%= @photo.caption %>
</caption>

<h4>Comments</h4>
<%= render @photo.comments %>

<h4>Add a comment:</h4>
<%= render "comments/form" %>

<%= link_to 'All photos', photos_path %>
