<%= link_to 'Previous photo', { action: "show", id: @photo.prev.id } %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Next photo', { action: "show", id: @photo.next.id } %>
<br />
<figure>
  <img src=<%= @photo.url %> width=50% ></img>
  <br />
  <caption> <%= @photo.caption %> </caption>
</figure>

<% if @photo.comments.any? %>
  <h4>Comments</h4>
  <%= render @photo.comments %>
<% end %>

<h4>Add a comment:</h4>
<%= render "comments/form" %>

<%= link_to 'All photos', photos_path %>
